In [35]:
import pandas as pd
import numpy as np

In [36]:
# Create a DataFrame
df = pd.read_csv('../data/sales_data.csv', encoding='ISO-8859-1')
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                 PHONE                   ADDRESSLINE1 ADDRESSLINE2  \
0           2125557818        897 Long Airport Avenue          NaN
1           26.47.1555             59 rue de l'Abbaye          NaN
2     +33 1 46 62 7555  27 rue du Colonel Pierre Avia          NaN
3           6265557265             78934 Hillside Dr.          NaN
4           6505551386                7734 Strong St.          NaN
...                ...                            ...          ...
2818    (91) 555 94 44             C/ Moralzarzal, 86          NaN
2819        981-443655                    Torikatu 38          NaN
2820    (91) 555 94 44             C/ Moralzarzal, 86          NaN
2821        61.77.6555          1 rue Alsace-Lorraine          NaN
2822        6175559555             8616 Spinnaker Dr.          NaN

               CITY STATE POSTALCODE        COUNTRY TERRITORY CONTACTLASTNAME  \
0               NYC    NY      10022  United States       NaN              Yu
1             Reims   NaN      51100         France      EMEA         Henriot
2             Paris   NaN      75508         France      EMEA        Da Cunha
3          Pasadena    CA      90003            USA       NaN           Young
4     San Francisco    CA        NaN  United States       NaN           Brown
...             ...   ...        ...            ...       ...             ...
2818         Madrid   NaN      28034          Spain      EMEA          Freyre
2819           Oulu   NaN      90110        Finland      EMEA       Koskitalo
2820         Madrid   NaN      28034          Spain      EMEA          Freyre
2821       Toulouse   NaN      31000         France      EMEA          Roulet
2822         Boston    MA      51003            USA       NaN         Yoshido

     CONTACTFIRSTNAME
0                Kwai
1                Paul
2              Daniel
3               Julie
4               Julie
...               ...
2818            Diego
2819           Pirkko
2820            Diego
2821          Annette
2822             Juri

[2823 rows x 24 columns]

In [37]:
clean_df = df.dropna(subset=['STATE'])
clean_df.to_xml('clean_sales_data.xml', index=False,parser='etree')